<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>T_161210_GitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0753C8FB1DFBF741005219FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0753C9141DFBF741005219FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0753C91F1DFBF741005219FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
